<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StarTray_Battery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <StarTray_Battery.Properties.Settings>
            <setting name="ColorMode" serializeAs="String">
                <value>light</value>
            </setting>
            <setting name="BatteryIconPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BatteryColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BatteryChargeIconPath" serializeAs="String">
                <value />
            </setting>
        </StarTray_Battery.Properties.Settings>
    </userSettings>
</configuration>
